<!DOCTYPE> 
<head>
<link rel="stylesheet" type="text/css" href="newsletter1.css">

<style>
@import url('https://fonts.googleapis.com/css?family=Pangolin');
</style>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<title> Submitted </title>
</head>




<body>
<div class="container">
<h1> MakeMeBake!</h1>
<h4> Check out our new reciepe finds! More information will be on our website</h4>

<div class="container-fluid">



<div class="row">
<div class="col-sm-6">
<img src="apricotcake.jpg" class="img-rounded" height=350px width="350px"> </div>
<div class="col-sm-6">
<h3> Apricot Hazelnut Meringue Cake</h3>

<p> Our new favourite cake! This used to be a rather soft, rather squashy meringue, but now I like it crisper and chewier. Either way it is loved by everyone. You can of course use any other fruit summer berries or in the winter passion fruit.</p>
<button type="button" class="btn btn-info" class="btn btn-primary btn-lg" onclick="alert('More information!')">Recipe!</button>
</div>
</div>


<div class="row">
<div class="col-sm-6">
<img src="loaf.jpg" class="img-rounded" height=350px width="350px">
</div>
<div class="col-sm-6">
<h3>Banana And Walnut Loaf</h3>
<p>If I had a pound for every... goes the old cliche.  So here it goes again. If only I had a pound for everyone who has praised this cake, rich pickings!  Although it is made here with butter and lard, you could make it with spreadable butter.</p>
<button type="button" class="btn btn-info" class="btn btn-primary btn-lg" onclick="alert('More information!')">Recipe!</button>

</div>
</div>



<div class="row">
<div class="col-sm-6">
<img src="cupcakes.jpg" class="img-rounded" height=350px width="350px"> </div>
<div class="col-sm-6">
<h3>Chocolate 'SURPRISE' Cupcakes</h3>
<p>It is the hidden ingredient that is the surprise. Mashed potato, often used in potato scones but even better in these small cakes, giving them a soft moist texture. I find frozen mashed potato works really well for this. For children you may like to leave the spice out, but I know a five-year-old who loves the subtle spiciness.</p>
<button type="button" class="btn btn-info" class="btn btn-primary btn-lg" onclick="alert('More information!')">Recipe!</button>

</div>
</div>

</div>
</body>
</html>

